{% extends 'base.html.twig' %}
{% block body %}
    <h2>Datenschutzerklärung</h2>
    <h3>Google Analytics</h3>
    <p>Bei Google Analytics handelt es sich um einen von Google Inc. (Im Folgenden «Google»)
        betriebenen Webanalysedienst. Google Analytics verwendet Cookies, d. h. Textdateien,
        die auf Ihrem Computer abgelegt werden und Analysen Ihrer Nutzung der Website ermöglichen.
        Die durch den Cookie erzeugten Angaben zu Ihrer Nutzung dieser Website
        (einschliesslich Ihrer IP-Adresse) werden zu einem Server von Google in den
        Vereinigten Staaten übermittelt und dort gespeichert. Google verwendet diese Angaben zur
        Beurteilung Ihrer Nutzung der Website, um im Auftrag der Website-Betreiber Berichte zu
        Website-Aktivitäten zu erstellen und andere Dienstleistungen im Zusammenhang mit der Nutzung
        der Website und des Internets zu erbringen. Google kann diese Angaben auch Dritten gegenüber
        offenlegen, sofern dies gesetzlich vorgeschrieben ist oder sofern Dritte die betreffenden
        Daten im Auftrag von Google bearbeiten. Google verknüpft Ihre IP-Adresse grundsätzlich
        nicht mit anderen, von Google gehaltenen Daten.</p>

        <p>Sie können die Installation von Cookies mittels der entsprechenden Einstellungen in Ihrer
            Browser-Software verhindern; wir weisen Sie aber darauf hin, dass Sie in diesem Fall möglicherweise
            nicht alle Inhalte dieser Website vollumfänglich nutzen können
            (<a href="https://tools.google.com/dlpage/gaoptout?hl=en" target="_blank">Abmeldung von Google Analytics</a>).</p>

        <p>Ort der Verarbeitung: USA – bitte konsultieren Sie auch die entsprechenden Datenschutzbestimmungen
            (<a href="https://policies.google.com/privacy?hl=en" target="_blank">Datenschutzbestimmungen von Google</a>).</p>
    <h3>Cookies</h3>
    <p>Diese Website verwendet Cookies. Mit der Benutzung dieser Website erklären Sie sich mit dem Gebrauch von Cookies einverstanden.
        Um mehr über Cookies zu erfahren, klicken Sie auf folgenden <a href="https://cookiesandyou.com/" target="_blank">Link</a>.
    </p>
    <h3>Datenspeicherung</h3>
    <p>Informationen, die Sie an uns senden, werden vertraulich behandelt und nicht an Dritte weitergegeben.
        Nach Abschluss des Events werden die Daten gelöscht.</p>


{% endblock %}