{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col" style="text-align: center">
        <img src="{{ asset('img/flayer.jpg') }}" style="width: 100%; max-width: 425px">
    </div>
</div>
{% endblock %}
